

body{
  margin: 0;
  padding: 0;
  height: 100vh;

}

.title{
  color: deepskyblue;
  position: absolute;
  text-align: center;
  top:35%;
  width: 100%;
  padding-bottom: 2cm;
}


#particles-js{
  height: 100%;
}


 h1{
  margin:0;
  font-size: 50px;
}

 .button1 {
   padding: 8px 16px;
   text-decoration: none;
   border: #21c0fc 1px solid;
   border-radius: 6px;
   font-size: 20px;
   color: #21c0fc;
   font-weight: 450;
 }

 .button1:hover{

   background-color: #21c0fc;
   text-decoration: none;
   opacity: .5;
   text-overline-color: white;
   color:white;

 }